<html lang="en" class="no-js">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="">
        <meta name="robots" content="">
        <link rel="stylesheet" type="text/css" href="">
        <link rel="shortcut icon" href="">
    </head>
    <body  ng-app="MyApp">
        
        <div ng-controller="CityCtrl">
        
            <label for "cities">Cities
                <select ng-options="city as city for city in cities" 
                        ng-model="city"
                        id="cities" 
                        ng-init="city"></select>            
            </label>
            
            <br/>
            
            <button ng-click="addCity()">Add</button>
            <button ng-click="removeCity()">Remove</button>
        
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js">        
        </script>
            
        <script src="angularJs/src/app.js" ></script>
        
        
        <script src="angularJs/src/controllers/CityCtrl.js"></script>
        <script src="angularJs/src/services/CityService.js"></script> 
        
    </body>
</html>
